* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    left: 0;
    top: 0;
}

.rde-main {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .rde-title {
        position: absolute;
        width: 100%;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
        z-index: 2000;
    }
    .rde-content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100vh;
        padding-top: 60px;
    }
    .rde-canvas-preview {
        position: absolute;
        transform: scale(0);
        transition: transform 0.3s linear;
        transform-origin: bottom right;
        &.preview {
            width: 100%;
            height: 100%;
            transform: scale(1);
            background: #fff;
            z-index: 5000;
        }
        &-close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
        }
    }
}

.rde-editor {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    // .rde-wireframe {
    //     position: relative;
    //     left: 0;
    //     height: calc(100% - 60px);
    //     width: 160px;
    //     -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    //     -moz-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    //     box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    //     z-index: 1000;
    // }
    .rde-items {
        overflow-y: auto;
        position: relative;
        height: calc(100% - 60px);
        min-width: 200px;
        width: 200px;
        background: #fff;
        -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
        z-index: 900;
        .rde-item {
            width: 80px;
            height: 80px;
            text-align: center;
            transition: .5s ease;
            border: 0 solid transparent;
            border-radius: 12px;
            cursor: pointer;
            i {
                line-height: 1.5em;
            }
            .rde-item-text {
                line-height: 0;
                font-size: 16px;
            }
            &:hover {
                background: rgba(0, 0, 0, .2);
                box-shadow: 0 0 11px rgba(33, 33, 33, .2); 
            }
        }
        z-index: 10;
    }
    .rde-canvas-container {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: calc(100% - 140px);
        z-index: 0;
        top: 40px;
        min-width: 200px;
        min-height: 200px;
        .rde-canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            iframe {
                pointer-events: none;
            }
        }
    }
    .rde-canvas-header {
        background: rgba(0, 0, 0, 0.05);
        transition: width .05s linear;
        display: flex;
        height: 40px;
        // left: 360px;
        left: 200px;
        position: absolute;
        width: 100%;
        z-index: 800;
        -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        .rde-canvas-list {
            position: absolute;
            display: none;
            width: 300px;
            height: calc(100vh - 150px);
            top: 40px;
            left: -4px;
            z-index: 0;
            -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
            &-actions {
                border-bottom: 1px solid;
            }
            &-items {
            }
            &-item {
                position: relative;
                margin: 8px 8px;
                text-align: center;
                &-icon {
                    margin: 0 8px 0 4px;
                }
                &-text {
                    font-size: 16px;
                }
                &-actions {
                    margin: 0 4px 0 8px;
                }
                &.selected-item {
                    background: rgba(0, 0, 0, .2);
                    box-shadow: 0 0 11px rgba(33, 33, 33, .2);     
                }
                &:hover {
                    cursor: pointer;
                    background: rgba(0, 0, 0, .2);
                    box-shadow: 0 0 11px rgba(33, 33, 33, .2); 
                }
                &::after {
                    position: absolute;
                    left: 0;
                    bottom: -4px;;
                    background: #fff;
                    width: 100%;
                    height: 1px;
                    content: '',
                }
            }
        }
    }
    .rde-canvas-footer {
        background: rgba(0, 0, 0, 0.05);
        transition: width .05s linear;
        display: flex;
        height: 40px;
        // left: 360px;
        left: 200px;
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: 800;
        -webkit-box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, .5);
        box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, .5);
    }
    .rde-canvas-toolbar-container {
        .rde-canvas-toolbar {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 4px;
            margin-right: 4px;
            &:not(:last-child):after {
                background-color: #fff;
                position: absolute;
                right: -5px;
                width: 1px;
                height: 20px;
                content: "";
            }
            &-list {
                &:hover {
                    .rde-canvas-list {
                        background: rgba(0, 0, 0, 0.05);
                        display: block;
                        z-index: 1;
                        -webkit-animation: slide-right .3s linear;
                        -moz-animation: slide-right .3s linear;
                        animation: slide-right .3s linear;
                    }
                }
            }
            &-history {
                flex: 1;
                justify-content: flex-end;
            }
            &-action {
                flex: 1;
                justify-content: flex-end;
            }
        }
    }
    .rde-properties {
        overflow-y: auto;
        position: relative;
        height: calc(100% - 60px);
        width: 300px;
        right: 0;
        z-index: 1000;
        background: #fff;
        -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5);
        -moz-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5);
        box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5);
    }
}

.rde-canvas-tooltip {
    position: fixed;
    -moz-animation: visibility .3s linear;
    -webkit-animation: visibility .3s linear;
    animation: visibility .3s linear;
    .rde-canvas-tooltip-container {
        position: relative;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.35);
        color: #fff;
        font-size: 14px;
        padding: 8px;
        margin-left: 12px;
    }
    &.tooltip-hidden {
        display: none;
        top: 0;
        left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0; /* To the left of the tooltip */
        margin-left: 2px;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent rgba(0, 0, 0, 0.35) transparent transparent;
    }
}

.rde-action-btn {
    background: transparent;
    border: transparent;
    &:hover {
        background: transparent;
        border: transparent;
    }
    &:focus {
        background: transparent;
        border: transparent;
    }
}

.rde-icon-container {
    border-radius: 4px;
    margin: 8px;
    text-align: center;
    cursor: pointer;
    &:hover, &:focus {
        background-color: #fff;
        box-shadow: 0 0 11px rgba(255, 255, 255, .2); 
    }
    .rde-icon-top {
        color: inherit;
        background-color: transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        i {
            margin: 8px 0 8px 0;
        }
        &:hover, &:focus {
            background-color: #4dabf7;
            color: #fff;
        }
    }
    .rde-icon-bottom {
        color: #adb5bd;
        font-size: .8rem;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        &:hover, &foucs {
            color: #495057;
        }
    }
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
