{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": ["@typescript-eslint"],
	"extends": [
		"airbnb",
		"airbnb-typescript",
		"airbnb/hooks",
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"indent": "off",
		"no-tabs": "off",
		"object-curly-newline": "off",
		"import/no-cycle": "off",
		"max-len": ["error", { "code": 120 }],
		"implicit-arrow-linebreak": "off",
		"operator-linebreak": "off",
		"arrow-parens": "off",
		"no-shadow": "off",
		"no-else-return": "off",
		"class-methods-use-this": "warn",
		"linebreak-style": ["error", "windows"],
		"import/no-extraneous-dependencies": "off",
		"react/require-default-props": "off",
		"react/destructuring-assignment": "off",
		"react/jsx-indent": [4, "tab"],
		"react/no-unused-class-component-methods": "warn",
		"@typescript-eslint/indent": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-shadow": "off",
		"@typescript-eslint/ban-ts-comment": "off"
	}
}
